img {
    width: 500px;
}

#topper {
    width: 100%;
    background-color: black;
    color: black;
}

h1 {
    color: white;
}

.caption {
    text-align: right;
    color: black;
}
h4 {
    color: white;
}
h5 {
    color: white;
}
